@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital,wght@0,400;0,500;1,500&family=Ubuntu&display=swap');

.body {
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

.header {
  margin: 0 auto;
  background-image: url(./sections_background/section-1\(header\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* header */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(94, 93, 88, 0.6);
  padding-top: 20px;
}

.navbar_body {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo_1 {
  width: 58px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  background-image: url(./img/icons/Polygon\ 1\ 1\ \(2\).png);
  background-repeat: no-repeat;
  background-position: center center;
}

.logo_2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.logo_3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #18CFAB;
}

.stroke {
  padding-top: 35px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: #18CFAB;
}

nav ul li:hover path {
  fill: #18CFAB;
}

nav.stroke ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.stroke ul li svg:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 95px;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #18CFAB;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

.text_home {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 264px;
  display: flex;
  flex-direction: column;
}

.h1 {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.h2 {
  font-weight: 700;
  font-size: 78px;
  line-height: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 22px;
}

h3 {
  font-weight: 400;
  font-size: 34px;
  line-height: 1px;
  color: #D4D4D4;
  margin-top: 22px;
  margin-bottom: 134px;
}

.sotial {
  height: 64px;
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 259px;
}

.explore {
  color: #FFFFFF;
  width: 169px;
  background: #18CFAB;
  box-shadow: 0px -5px 0px white;
  border-radius: 5px;
}

.purchase {
  color: #FFFFFF;
  width: 169px;
  background: #00CBF6;
  margin-left: 26px;
  box-shadow: 0px -5px 0px white;
  border-radius: 5px;
}

.sotial-text {
  padding-top: 17px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

/* main */

.grid {
  flex-direction: row;
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: -41px;
}

.grid-item {
  width: 100%;
  height: 282px;
  padding-top: 95px;
}

.grid-item-1,
.grid-item-3 {
  background: #1C2A33;
  color: #18CFAB;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-item-2,
.grid-item-4 {
  background: #18CFAB;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
}

.grid-text-1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 48px;
}

.grid-text-2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 70px;
}

/* Our Services */

.article1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4E4E4E;
  justify-content: center;
  align-items: center;
}

.title-liner {
  position: relative;
  color: #4e4e4e;
}

.title-liner::after,
.title-liner::before {
  content: '';
  position: absolute;
  bottom: -26px;
  left: 50%;
  height: 2px;
  width: 78px;
  background: #18cfab;
  transform: translateX(-60%);
}

.title-liner::before {
  bottom: -34px;
  right: 50%;
  left: unset;
  transform: translateX(60%);
}

.tabscontent {
  Width: 1160px;
}

ul {
  list-style: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  Width: 1160px;
}

.tabs-nav_item {
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 16px;
  padding-bottom: 15px;
  background-color: #EDEFEF;
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  display: inline-block;
  align-items: center;
  text-align: center;
  color: #717171;
  margin-top: 69px;
  position: relative;
}

.tabs-nav_item.is-active::after {
  content: "";
  width: 0px;
  border-top: 15px solid #18CFAB;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.img-tab {
  float: left;
  margin-right: 15px;
  width: 192px;
  height: 139px;
}

.tabs-nav_item.is-active {
  font-weight: 400;
  font-size: 15.9859px;
  line-height: 39px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background-color: #18CFAB;
}

.tab {
  display: none;
  margin-bottom: 67px;
}

.tab.is-active {
  display: block;
}

.tab-1,
.tab-2,
.tab-3,
.tab-4,
.tab-5,
.tab-6,
{
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
display: flex;
align-items: center;
color: #777777;
}

/* Everything is ready */

.section_2 {
  background-image: url(./sections_background/Layer\ 21\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_2_text1 {
  margin-top: 126px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #18CFAB;
}

.section_2_text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #D8D8D8;
}

.purchase_2 {
  margin-top: 62px;
  margin-bottom: 127px;
  display: flex;
  color: #FFFFFF;
  width: 169px;
  background: #18CFAB;
  box-shadow: 0px -5px 0px white;
  border-radius: 5px;
}

/* Amazing */

.amazing-works {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9edef;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
}

.filter__list {
  position: relative;
  margin-top: 69px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

.filter__item {
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 16px;
  padding-bottom: 15px;
  background-color: #EDEFEF;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 42px;
  display: flex;
  align-items: center;
  display: inline-block;
  color: #717171;
  margin-top: 69px;
  position: relative;
  border: 1px solid #DADADA;
}

.filter__item:hover {
  border: 1px solid #18CFAB;
}

.btn-load-more {
  width: 168px;
  background: #18CFAB;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 13px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.filter__content-img {
  display: flex;
}

.amazing-works__wrapper {
  padding: 0px 0 90px;
  text-align: center;
}

.filter__item--active {
  border-color: #18cfab;
  color: #18cfab;
}

.filter__content-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 70px;
}

.filter__content-item {
  position: relative;
}

.filter__content-img {
  width: 100%;
}

.filter__content-description-wrapper {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e9edef;
  opacity: 0;
  transition: opacity 0.5s;
}

.filter__content-description-wrapper:hover {
  opacity: 1;
}

.filter__content-description-links {
  margin-bottom: 40px;
}

.filter__content-description-link:first-child {
  display: inline-block;
  background-image: url(./img/icons/icon_1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  font-size: 0;
  margin-top: 42px;
}

.filter__content-description-link:last-child {
  display: inline-block;
  background-image: url(./img/icons/icon_2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  font-size: 0;
  margin-top: 42px;
}

.filter__content-description-title {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #18cfab;
  margin-bottom: 10px;
}

.filter__content-description-text {
  font-weight: 300;
  font-size: 12px;
  color: #8a8a8a;
}

/* Breaking news */
.breaking {
  width: 1160px;
  margin-bottom: 68px;
  margin-top: 82px;
}

.grid-breaking {
  display: grid;
  gap: 35px;
  grid-row-gap: 115px;
  align-items: flex-start;
  grid-template-columns: repeat(4, 263px);
  grid-template-rows: repeat(4, 208px);
  padding: 0%;
  margin-top: 68px;
  margin-bottom: -565px;
}

.grid-text-breaking {
  padding-left: 25px;
  font-weight: 700;
  font-size: 17.9885px;
  line-height: 39px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #717171;
  text-decoration: none;
}

.grid-text-breaking2 {
  font-weight: 300;
  font-size: 13.991px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #777777;
  padding-left: 25px;
}

.img-breaking {
  width: 263px;
  height: 208px;
}

.date {
  padding-top: 5px;
  position: relative;
  width: 70px;
  height: 68px;
  background: #203E38;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  color: #FFFFFF;
  text-align: center;
  left: 193px;
  top: -269px;
}

.grid-item-breaking:hover .grid-text-breaking {
  color: #18CFAB;
}

.grid-item-breaking:hover .date {
  background-color: #18CFAB;
}

.grid-item-breaking:hover .date>a {
  background-color: #18CFAB;
}

/* slider*/
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  margin: 0 -24px;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Слайд */
/* .slick-slide{}
/* Слайд активный */
/* .slick-slide.slick-active{} */
/* Слайд основной */
/* .slick-slide.slick-current{} */
/* Слайд по центру */
/* .slick-slide.slick-center{} */

/* Стрелка */
/* .slick-arrow{} */
/* Стрелка влево */
/* .slick-arrow.slick-prev{} */
/* Стрелка вправо */
/* .slick-arrow.slick-next{} */
/* Стрелка не активная */
/* .slick-arrow.slick-disabled{} */

/* Точки */
/* .slick-dots{}
.slick-dots li{}
.slick-dots button{}  */


/* Конкретный слайдер */
.slider {
  position: relative;
  padding: 0px 0px;
}

.slider .slick-arrow {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 43%;
  font-size: 0;
  justify-content: center;
  margin: auto;
  width: 100%;
  box-sizing: border-box;
}

.slider .slick-arrow.slick-prev {
  left: -42px;
  width: 30px;
  height: 30px;
  font-size: 0px;
  border: 1px solid #BBBBBB;
  color: #bbb;
  background-image: url('./img/icons/Forma\ 1.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.slider .slick-arrow.slick-next {
  right: -7px;
  width: 30px;
  height: 30px;
  border: 1px solid #BBBBBB;
  color: #bbb;
  background-image: url('./img/icons/Forma\ 1\ \(1\).svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.slider .slick-arrow.slick-prev:hover,
.slider .slick-arrow.slick-next:hover {
  background-color: #18CFAB;
}

.slider__item img {
  max-width: 100%;
}

.sliderbig,
.sliderbig__item {
  text-align: center;
}

.sliderbig {
  margin-bottom: 20px;
}

.wrapper-slider {
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
  background-image: url(./sections_background/section-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 128px;
}

.slider_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify
}

.about__title {
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #FFFFFF;
}

.main-about-img {
  margin-top: 66px;
  margin-bottom: 36px;
}

.about__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: #BBBBBB;
  margin-left: 380px;
  margin-right: 380px;
}

.slider__info-name {
  text-transform: uppercase;
  color: #18cfab;
  font-weight: bold;
  margin-top: 37px;
  margin-bottom: 10px;
}

.slider__info-description {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #BBBBBB;
  margin-bottom: 28px;
}

.sliderbig__info-foto {
  user-select: none;
  width: 143px;
  height: 142px;
  border-radius: 50%;
  border: 10px solid #18cfaa3b;
  object-fit: cover;
  object-position: center;
}

.slick-list.draggable {
  align-items: center;
  display: flex;
}

.slider {
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

.slider__item {
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.slider__items-foto {
  list-style-type: none;
  user-select: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  Firefox
}

.slider__info-foto {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid #18cfaa3b;
  transition: all ease 0.3s;
  cursor: pointer;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.slider__info-foto:hover {
  border: 5px solid #18cfaa;
}

/*  Footer  */

.copyright {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  display: flex;
  background: #22353F;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #AEAEAE;
  padding-top: 35px;
  padding-bottom: 35px;
}